#project{
    background-color: lightblue;
}
body {
    background-color: lightgray;
    background-color: cornsilk;
}
hr{
    border: 1px solid black;
}
#pro {
    color: darkred;
}
.credit {
    color: darkgreen;
}
.cred {
    color: darkblue;
}
#store{
    color: darkslategray;
}
#intern {
    color: darkorange;
}
.sale {
    color: red;
}
#sale {
    color: purple;
}